div,
p {
  width: 200px;
  text-align: justify;
}

div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 100px;
  padding-left: 280px;
  background-color: cadetblue;
}

p {
  padding: 50px;
  background-color: aquamarine;
}
