<html lang="sr">
  <head>
    <title>Гимназија "Десанка Максимовић"</title>
    <link rel="stylesheet" type="text/css" href="stil.css">
  </head>
  <body>
    <header>
      <img src="logo.png" alt="Логотип гимназије">
      <h1 id="glavni-naslov">Гимназија <q>Десанка Максимовић</q></h1>
      <nav>
        <a href="pocetna.html">Почетна</a>
        <a href="odeljenja.html">Одељења</a>
      </nav>
    </header>

    <h2>Одељења</h2>
    <ul>
      {% for razred in razredi %}
      <li>{{razred}} разред</li>
      {% endfor %}
    </ul>

    <script src="klijentski_kod.js"></script>
  </body>
</html>
