<html lang="sr">
  <head>
    <title>Гимназија "Десанка Максимовић"</title>
    <link rel="stylesheet" type="text/css" href="stil.css">
  </head>
  <body>
    <header>
      <img src="logo.png" alt="Логотип гимназије">
      <h1 id="glavni-naslov">Гимназија <q>Десанка Максимовић</q></h1>
      <nav>
        <a href="pocetna.html">Почетна</a>
        <a href="odeljenja.html">Одељења</a>
      </nav>
    </header>

    <h2>Почетна страница</h2>
    <p>Добродошли на веб-сајт гимназије <q>Десанка Максимовић</q>!</p>

    <script src="klijentski_kod.js"></script>
  </body>
</html>
