<html lang="sr">
  <head>
    <title>Гимназија "Десанка Максимовић"</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='stil.css')}}"
   >
  </head>
  <body>
    <header>
      <h1 id="glavni-naslov">Гимназија <q>Десанка Максимовић</q></h1>
      <nav>
        <a href="{{url_for('pocetna')}}">Почетна</a>
      </nav>
    </header>

    <h2>{{naslov}}</h2>

    {% with poruke = get_flashed_messages(with_categories=True) %}
      {% for kategorija, poruka in poruke %}
        <div class="{{kategorija}}">{{poruka}}</div>
      {% endfor %}
    {% endwith %} 
    
    {% block sadrzaj %} {% endblock %}
  </body>
</html>
