<html lang="sr">
  <head>
    <title>Гимназија "Десанка Максимовић"</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='stil.css')}}"
   >
  </head>
  <body>
    <header>
      <img
        src="{{url_for('static', filename='logo.png')}}"
        alt="Логотип гимназије"
     >
      <h1 id="glavni-naslov">Гимназија <q>Десанка Максимовић</q></h1>
      <nav>
        <a href="{{url_for('pocetna')}}">Почетна</a>
        <a href="{{url_for('odeljenja')}}">Одељења</a>
      </nav>
    </header>

    <h2>{{naslov}}</h2>
    {% block sadrzaj %} {% endblock %}

    <script src="{{url_for('static', filename='klijentski_kod.js')}}"></script>
  </body>
</html>
