div {
  width: 300px;
  height: 100px;
}

#plavi {
  background-color: dodgerblue;
}

#crveni {
  background-color: firebrick;
}

#zlatni {
  background-color: goldenrod;
}

#zeleni {
  background-color: darkgreen;
  height: 2000px;
}

.pozicioniranje {
  position: fixed;
  top: 50px;
  right: 100px;
}
